<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>obeta</title>

    <!--<link rel="stylesheet" href="static/css/button_tem.css">-->
    <link href="{{ url_for('static', filename='css/button_tem.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<script>
  if('{{ error }}' == "사진 파일 에러"){
    alert('{{error}}');
  }
</script>
<body onload="load()">
  <div style="float:left; margin-top: 150px; width: 200px">
    <div class="dropdown" style="margin-bottom: 30px;">
      <button class="dropbtn"> 
        <span class="dropbtn_icon">top</span>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; +
      </button>
      <div class="dropdown-content" >
        <a href="short sleeve t-shirt">short sleeve t-shirt</a>
        <a href="polo shirt">polo shirt</a>
        <a href="long sleeve t-shirt">long sleeve t-shirt</a>
        <a href="sweatshirt">sweatshirt</a>
        <a href="sleeveless tee">sleeveless tee</a>
        <a href="hoodie">hoodie</a>
        <a href="shirt">shirt</a>
        <a href="sweater">sweater</a>
        <a href="hood zip up">hood zip up</a>
        <a href="coat">coat</a>
        <a href="rider jacket">rider jacket</a>
        <a href="mustang">mustang</a>
        <a href="trucker jacket">trucker jacket</a>
        <a href="suit">suit</a>
        <a href="short padding">short padding</a>
        <a href="long padding">long padding</a>
        <a href="Cardigan">Cardigan</a>
        <a href="padded vest">padded vest</a>
        <a href="anorak jacket">anorak jacket</a>
        <a href="vest">vest</a>
        <a href="Fleece">Fleece</a>
        <a href="training jacket">training jacket</a>
        <a href="stadium jacket">stadium jacket</a>
      </div>
    </div>
    <div class="dropdown" style="margin-bottom: 30px;">
      <button class="dropbtn"> 
        <span class="dropbtn_icon">bottom</span>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; +
      </button>
      <div class="dropdown-content">
        <div>
          <a href="denim pants">denim pants</a>
          <a href="short pants">short pants</a>
        </div>
        <a href="cotton pants">cotton pants</a>
        <a href="Leggings">Leggings</a>
        <a href="slacks">slacks</a>
        <a href="training pants">training pants</a>
        <a href="skirt">skirt</a>
      </div>
    </div>
    <div class="dropdown" style="margin-bottom: 30px;">
      <button class="dropbtn"> 
        <span class="dropbtn_icon">overall</span>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; +
      </button>
      <div class="dropdown-content">
        <a href="onepiece">onepiece</a>
      </div>
    </div>
  </div>
  
    <section class="content" style="display: grid; margin: 0px; ">
        <h2><a href="/">main</a></h2>
        {%if userid%}
        {{userid}}<a>안녕하세요</a>
        {%endif%}
        <div>
          <form method="get" action="/recommend2">
            <label><input id = "season" type="checkbox" name="season" value="true" > 계절 </label>
            <label><input id = "gender" type="checkbox" name="gender" value="true" > 성별</label>
            <select id = "situation" name="situation" class="select">
              <option value="all">상황</option>
              <option value="casual">casual</option>
              <option value="office">office</option>
              <option value="gym">gym</option>
          </select>
            <p><input type="submit"onclick="save()" value="Submit"></p>
          </form>
        </div>
        <div class="box bg-1">
          <ul>
              {% for c in file_list%}
              <li style="width : 160px; height : 250px;
              border: 0.5px solid #000; margin:1px; overflow:hidden; ">
              <div style="position : relative; left : 50%; top : 50%; right:50%; transform: translate(-50%, -50%);text-align: center" onclick="detail('{{ c.number}}')">
                <div>
                  <img src="{{ url_for('static', filename='upscale/' + c.number + '.png')}}" style="width: 150px; height: 150px"/>
                </div>
                <div>
                  <a style = "width : 150px; height:100px; font-size: 12px; font-family: Apple SD Gothic Neo, Noto Sans KR, sans-serif;
                  font-weight: bold;
                  color: #000; overflow:hidden">{{c.name}}</a>
                </div>
              </div>
              </li>
              {% endfor %}
            </li>
            </ul>    

        </div>
        
        <script>
        
        </script>
        <div class="box bg-2" style="display: grid;">
        </div>
      </section>
      <div class="box bg-3" style="display: flex; padding: 0em 0em 0em 0em;">
       <button class="button button--winona button--border-thin button--text-thick button--inverted" data-text="Open Project"><span>Open Project</span></button>
       <button class="button button--winona button--border-thin button--text-thick button--inverted" data-text="Create New"><span>Create New</span></button>
       <button class="button button--winona button--border-thin button--text-thick button--inverted" data-text="Publish"><span>Publish</span></button>
       <button class="button button--winona button--border-thin button--text-thick button--inverted" data-text="Open Project"><span>Open Project</span></button>
       <button class="button button--winona button--border-thin button--text-thick button--inverted" data-text="Create New"><span>Create New</span></button>
       <button class="button button--winona button--border-thin button--text-thick button--inverted" data-text="Publish"><span>Publish</span></button>
     </div>

</body>
</html>
<script>
    function c(a){
        if(window.location.href.indexOf("index") > -1){
          window.location.href = 'http://218.48.207.77:9999/upload';
        }
        else{
          window.location.href = a +'upload';
        }
        
    }
    function d(a){
      if(window.location.href.indexOf("index") > -1){
        window.location.href = 'http://218.48.207.77:9999/select_image';
      }
      else{
        window.location.href = a +'select_image';
      }
      
  }

  function f(a){
      if(window.location.href.indexOf("index") > -1){
        window.location.href = 'http://218.48.207.77:9999/register';
      }
      else{
        window.location.href = a +'register';
      }
      
  }
  function g(a){
      if(window.location.href.indexOf("index") > -1){
        window.location.href = 'http://218.48.207.77:9999/login';
      }
      else{
        window.location.href = a +'login';
      }
      
  }

  function detail(a){
          window.location.href = 'http://localhost:8080/detail/' + a;
    }
    function save(){
      const select = document.querySelector(".select");
      const currentValue = select.options[select.selectedIndex].value;
      
    var checkbox = document.getElementById('gender');
    if(document.getElementById('gender').checked) {
        localStorage.setItem('gender', true);
    }else{
      localStorage.setItem('gender', false);
    }
    var checkbox = document.getElementById('season');
    if(document.getElementById('season').checked) {
        localStorage.setItem('season', true);
    }else{
      localStorage.setItem('season', false);
    }

    localStorage.setItem('situation',currentValue)
}

function load(){    
    var checked = localStorage.getItem('gender');
    if (checked == "true") {
        document.getElementById("gender").setAttribute('checked','checked');
    }

    var checked2 = localStorage.getItem('season');
    if (checked2 == "true") {
        document.getElementById("season").setAttribute('checked','checked');
    }

    const select = document.querySelector(".select");
    select.value = localStorage.getItem('situation');

    
}
</script>
